/* Thin scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #a1a1aa;
  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a1a1aa transparent;
}